{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student management system{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="navbar">
        <div class="logo">
            <img src="{% static 'img/icon.png' %}" alt="AOT Logo">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'courses' %}">Courses</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                
                <li class="dropdown">
                    <a href="#" class="login-btn">Login</a>
                    <div class="dropdown-content">
                        <a href="{% url 'student_login' %}">Student Login</a>
                        <a href="{% url 'staff_login' %}">Staff Login</a>
                        
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h1 class="main-title">{{ main_heading|default:"STUDENTS MANAGEMENT" }}</h1>
        <div class="subtitle-box">
            <h2 class="subtitle">{{ sub_heading|default:"FOR STUDENTS" }}</h2>
        </div>
    </section>

    <section class="about-section">
        <div class="founder-card">
            <img src="{% static 'img/icon.png' %}" alt="Founder Image">
        </div>
        <div class="about-content">
            <h2>{{ about_title|default:"About the Founder" }}</h2>
            
            <p>
                Our founder, {{ founder_name|default:"Mr. V.M. PRAVIN KUMAR B.SE" }}, envisioned creating a platform to bridge education and technology, focusing on innovation, excellence, and accessibility for all learners especially to reach middle class who cannot afford more money to spend for learning latest technologies.
            </p>
            <p>
Hi, I’m Pravin. I’m currently pursuing computer science and have a strong interest in programming and technology. I enjoy learning new tools, working on projects, and improving my technical skills to build a career in the IT industry.            </p>
        </div>
    </section>

</body>
</html>